*, *::before, *::after{
  box-sizing: border-box;
}

/* RESET */
ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
    transition: all 500ms;
}

body {
  font-size: 14px;
  font-family: 'Didact Gothic', sans-serif;
}

header{
}

.title{
	margin: 30px auto;
	width: 300px;
	text-align: center;
	font-weight: bold;
}

.PianoConteneur{
 width: 290px;
margin: 30px auto;
  padding: 5px;
  background: silver;
}

.TouchesNoires00{
  margin-left: 30px;
  position: absolute;
}

.TouchesNoires0{
  margin-left: 30px;
  position: absolute;
}

.TouchesNoires1, .TouchesNoires2, .TouchesNoires3, .TouchesNoires4{
	margin-left: 30px;
  position: absolute;
}

.TouchesConteneur{
margin-bottom: 10px;
}

.TouchesNoiresConteneur{
  background: black;
  height: 120px;
  width: 20px;
  float: left;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
}

.TouchesBlanchesConteneur{
  background: white;
  height: 200px;
  width: 40px;
  float: left;
  border:1px solid black;
  border-right: none;
  text-align: center;
  font-weight: bold;
  padding-top: 170px;
}

.TouchesBlanchesConteneur:nth-child(7),
.TouchesBlanchesConteneur:nth-child(14){
  border-right: 1px solid black;
}

.TouchesNoiresConteneur:nth-child(2){
  margin-right: 60px;;
}

.TouchesBlanchesConteneur:hover {
   background:silver;
}
.TouchesBlanchesConteneur:active {
    background:grey;
}
.TouchesNoiresConteneur:hover {
    background: grey;
}
.TouchesNoiresConteneur:active {
    background: silver;
}